### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
dev.py
.idea

.env
.env.*
db.sqlite3
server_venv
ngrok

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/


.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.pytype/
.vscode/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*.http